<!DOCTYPE html>
{% load static %}
{% load humanize %}


<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'topTen/style.css' %}">
    <!doctype html>
    <script src="//code.jquery.com/jquery-1.11.0.min.js">
        var myCollapseEl = document.getElementById('myCollapse')
        myCollapseEl.addEventListener('shown.bs.collapse', function(event) {
            // Action to execute once the collapsible area is expanded
        })

        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function(collapseEl) {
            return new bootstrap.Collapse(collapseEl)
        })
    </script>
    <src src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
        </script>



</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <img src={{ data.logo_url }} style="width: 50px; height:50px">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href={% url 'home' %}>{{data.shortName}}</a>

    </nav>





    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-bordered table-dark table-sm table-condensed table-responsive">

                    {% for k,v in data.items %}

                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if v > 100000 %}
                        <td class="Key">{{k}}</td>
                        <td>$ {{v| intword}}</td>
                        {% elif v < 1000 }
                          <td>class="Key">{{k}}</td>
                          <td>$ {{v| floatformat:2}}</td>
                        {%else%}
                        <td class="Key">{{k}}</td>
                        <td>$ {{v}}</td>


                    </tr>

                    {%endif%}


                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <artical>
                    <h3 class="display-3">Bussiness Summary</h3>
                    <p class="lead">{{data.summary}}</p>



                    </article>
            </div>
        </div>
    </div>

</body>

</html>