<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'topTen/style.css' %}"><!doctype html>


</head>
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <img src={{ data.logo_url }}  style="width: 50px; height:50px">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href={% url 'home' %}>{{data.shortName}}</a>
  
  </nav>
  <div class="container">
  <div class="col"> 

    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Summery
            </button>
          </h5>
     
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <p class="lead">{{data.summary}}</p>          
          </div>
        </div>
      </div>
      <div class="col bg-gradient">
        
          <h5 class="display-3">Summery</h5>
          <p class="lead">{{data.summary}}</p>
          
      </div>
      
    <div class="col-3">
    <table class="table table-bordered table-dark table-sm">
    <thead><tr><h3 class="text-center">{{ data.shortName }}</h3></tr></thead>
      {% for k,v in data.items %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td class="Key">{{k}}</td>
      <td> {{v}}</td> 
    </tr>
      {% endfor %}
  </table>
  </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>