<!DOCTYPE html>
{% load static %}

{% load humanize %}
{% load crispy_forms_tags %}


<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'topTen/style.css' %}">
    <!doctype html>

    <title>Fundamental Analytics</title>

</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href={% url 'home' %}>Fundamental Analytics</a>
        <form>
            {{ csrf token }}
            {{ form2 }}
            <input type="submit">

        </form>

    </nav>
    <table>
        <tbody>
            <form method="post">
                {{ csrf token ]}

                {{ form.as_table  }}
                <tr>
                    <td><input type="submit"></td>
                </tr>
                <!-- <tr> <input type="submit" value="Submit"></tr> -->
            </form>

        </tbody>
    </table>


    <div class="container">

        <table>
            <tbody>
                {% for key,val in data.items %}
                <tr>
                    <td>{{ forloop.counter |ordinal }}</td>
                    <td><a href={{ key }}>{{key}}</a></td>
                    <td>{{val}}</td>
                </tr>

                {% endfor %}


            </tbody>
        </table>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>